<br>
<div class="container">
<h2>게시글 작성</h2>
<form action = "/create" method = "POST">
  <div class="form-group">
    <label for="title">제목</label>
    <input type="text" name="title" class="form-control" id="title" placeholder="제목을 입력하세요.">
  </div>
  <div class="form-gorup">
    <label for="editor">작성자</label>
    <input type="text" name="editor" class="form-control" id="editor">
  </div>
  <div class="form-group">
    <label for="erxampleFormControlTextarea1">내용</label>
    <textarea class="form-control" name="content" rows="6"></textarea>
  </div>
  <div class="form-group">
    <label for="password">비밀번호</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호를 입력하세요.">
  </div>
  <button type="submit" class="btn btn-primary">작 성</button>
</form>
</div>